h1, h2 {
  margin-block-end: 8px;
  line-height: 1.1em;
}

button {
  background-color: rgb(26, 115, 232);
  border: none;
  outline: none;
  color: white;
  margin: 1em;
  padding: 10px 14px;
  border-radius: 4px;
  width: 190px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(45, 125, 252);
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding-top: 8px;
  box-sizing: border-box;
}

.appInner {
  box-sizing: border-box;
}

.tunerContainer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-color:lightslategrey;
  flex-grow: 1;
  min-width: 238px;
}

.tunerContent {
  margin: auto;
}
.tunerHeader {
  margin: 12px;
  font-size: 1.5rem;
}

.Pitch-readout {
  font-size: 2rem;
}



.markdownPane {
  font-size: 14px;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  text-align: left;
  height: 500px;
  max-height: calc(100vh - 56px);
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  color: black;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-sizing: border-box;
  margin-right: 8px;
}

.markdownContainer > pre {
  background-color:lightgrey;
  padding: 12px;
  margin-right: 8px;
  margin-left: 8px;
  box-sizing: border-box;
  font-size: 10px;
  white-space: normal;
  padding-left: 30px ;
  text-indent: -22px ;
}

.markdownContainer {
  overflow-y: scroll;
  box-sizing: border-box;

}

@media screen and (max-width: 599px) {
  .appInner {
    margin: auto;
    max-width: 100%;
    padding: 8px;
  }

  .markdownPane {
    height: 75vh;
    width: 100%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin: unset;
  }

  .markdownContainer > pre { 
    white-space: normal;
    padding-left: 30px ;
    text-indent: -22px ;
  }

  .markdownContainer {
    display:block;
  }

  .tunerContainer {
    margin: 8px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .Pitch-readout {
    font-size: 1.5em;
  }

  button {
    font-size: 16px;
  }

  .tunerHeader {
    margin: 12px;
    font-size: 1.1rem;
  }
}


@media screen and (min-width: 600px) {
  .App {
    flex-direction: row;
  }

  .appInner {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .markdownContainer {
    padding-right: 8px;

  }

  .markdownPane {
    width: calc(100% - 238px);
    padding-right: 0px;
  }

  .tunerContainer {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

